<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-8">
          <h4> SKU List </h4>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-11">
              <input #myInput type="text" class="form-control" name="skusearch" placeholder="Search by SKU Name">
            </div>
            <div class="col-md-1">
              <h4> <span class="pull-right glyphicon glyphicon-search" (click)="showSearchData(myInput.value)"> </span> </h4>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="panel-body">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th> </th>
              <th>JPG Ref</th>
              <th>SKU Name</th>
              <th>Project Name</th>
              <th>HK PM</th>
              <th>Version</th>
              <th>Client</th>
              <th>Pack Type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let record of records">
              <td> <a [routerLink]="['/skulist', record.id]"> >> </a> </td>
              <td>{{ record.JpgRef }}</td>
              <td>{{ record.SkuName }}</td>
              <td>{{ record.ProjectName }}</td>
              <td>{{ record.HKPM }}</td>
              <td>{{ record.version }}</td>
              <td>{{ record.Client }}</td>
              <td>{{ record.PackType }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <pagination [totalItems]="totalItems" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
</div>

<div *ngIf="record" bsModal #childModal="bs-modal" [config]="{backdrop: 'static'}" class="modal fade" tabindex="-1" role="dialog"
  aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add New SKU</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #heroForm="ngForm">
          <div class="form-group">
            <label>Sku Name</label>
            <input type="text" class="form-control" [(ngModel)]="record.SkuName" name="SkuName" required>
          </div>
          <div class="form-group">
              <label>Client Name</label>
              <select class="form-control" [(ngModel)]="record.Client" name="Client">
                  <option *ngFor="let client of clients" value= "{{ client.companyname }}">{{ client.companyname }}  </option>
              </select>
            </div>
          <div class="form-group">
            <label>Project Name</label>
            <select class="form-control" [(ngModel)]="record.ProjectName" name="ProjectName">
                <option *ngFor="let project of getProjects(record.Client)" value= "{{ project.ProjectName }}">{{ project.ProjectName }}  </option>
            </select>
          </div>
        </form>
        <div class="panel-footer">
          <a class="btn btn-danger" [routerLink]="['/skulist']">Cancel</a>
          <button class="btn btn-primary" type="button" (click)='submitPost()' data-dismiss="myModal">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
