.panel-body  { 
    text-align: center; 
    padding-top: 150px;
    height:  100px;
}
h1 { 
    display: block;
    font-size: 40px;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
