.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.glyphicon {
    font-size: 40px;
}
.pointer {
    cursor: pointer;
}

.customClass{
    cursor: pointer;
    background-color : #2C4878 !important;
}

.popover {
    cursor: pointer;
    background-color : #2C4878 !important;
}

.test {
    cursor: pointer;
    color: #000000 !important;

}
